<table border="1">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance</th>
            <th>account_number</th>
            <th>city</th>
            <th>image</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankaccount of bankaccount">
            <td>{{bankaccount.account_name}}</td>
            <td>{{bankaccount.available_balance}}</td>
            <td>{{bankaccount.account_number}}</td>
            <td>{{bankaccount.city}}</td>
            <td>{{bankaccount.image}}</td>
            <td>{{bankaccount.id}}</td>
            <td>
                <button (click)="view(bankaccount.id)">view</button>
                <button (click)="edit(bankaccount.id)">edit</button>
            </td>
           
            
            

        </tr>
    </tbody>
</table>