<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <a routerLink="home">Home</a>
        <a routerLink="welcome">Welcome</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="directives-pipes">directives pipes</a>
        <a routerLink="flipkart">flipkart</a>
        <a routerLink="vehicles">vehicles</a>
        <a routerLink="bankaccount">bankaccount</a>
        <a routerLink="flipkart1">flipkart1</a>
        <a routerlink="email">email</a>
        <a routerlink="calculator">calculator</a>
        <a routerLink="create-vehicle">Create-Vehicle</a>
        <a routerLink="bankaccountadd">bankaccountadd</a>
        <a routerLink="login1">login1</a>
        <a routerLink="student-detail">student-detail</a>
        <a routerLink="parent">parent</a>
        <a routerLink="sibling">sibling</a>
        <a routerLink="amazon">amazon</a>
        <button routerLink="Login">logout</button>
        <div class="left"></div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>